<!DOCTYPE html>
<html>
    <head>
        <h3>PayPal Payment Getway</h3>
    </head>
    <body>
        <div class="form-group">
            <h5>Item: Cricket Bat(Nike)</h5>
            <h5>Price: 1500 INR</h5>
            <br>
            <form action="payment">
                <input type="submit" value="Payment" />
            </form>
        </div>
    </body>
</html>